# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Dependency directories
node_modules/
/frontend/node_modules/
dist/
dist-ssr/
*.local

# Python - Quan trọng để xóa 97% Python rác
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.pytest_cache/
/backend/venv/
venv/
.venv/
env/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.sln
*.sw?